<div class="well">
  <h1>Welcome to bugzilla</h1>

  <div class="modal-body row-fluid">
    <div class="span6">
      <!-- Your first column here -->
      <h5>Sign up</h5>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %>
            <br/>
            <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %>
            <br/>
            <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %>
            <br/>
            <%= f.password_field :password_confirmation %></div>

          <div><%= f.submit "Create my account", class: "btn btn-large btn-primary" %></div>
      <% end %>


    </div>
    <div class="span6">
      <h5>Sign in</h5>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %>
            <br/>
            <%= f.email_field :email %></div>

          <div><%= f.label :password %>
            <br/>
            <%= f.password_field :password %></div>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              <br/>
          <% end -%>
          <div><%= f.submit "Login", class: "btn btn-large btn-primary" %></div>
      <% end %>


    </div>
  </div>
</div>