<h2>Please enter email associated with your account</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.submit "Send email", :class => "btn btn-primary" %></div>

<% end %>
