<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @story.project_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Story type:</strong>
  <%= @story.story_type %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @story.owner %>
</p>

<%= link_to 'Edit', edit_project_story_path(@project, @story) %> |
<%= link_to 'Back', project_path(@project) %>
